RewriteEngine On # Activer le module Rewrite

RewriteRule ^produit/?$ index.php [NC,L]
RewriteRule ^contact/?$ index.php [NC,L]
RewriteRule ^panier/?$ index.php [NC,L]
RewriteRule ^espace_perso/?$ index.php [NC,L]

RewriteRule ^(.*)+$ index.php
