#containerCGV{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0px;
}
#conditionGenerale{
    justify-content: center;
    text-align: justify;
    width: 100%;
    margin-top: 130px;
    padding-bottom: 20px;
}