@import 'header.css';
@import 'footer.css';
@import 'keyframe.css';
@import '404.css';
@import 'contact.css';
@import 'product.css';
@import 'panier.css';
@import 'homepage.css';
@import './espacePerso.css';
@import 'cgv.css';
@import 'mentionsLegales.css';

:root {
    --primary-white-color: #FFFFFF;
    --primary-dark-color: #696969;
    --secondary-dark-color: #272727;
    --primary-orange-color: #ec8521;
    --primary-darken-orange-color: #d4781e;
}

body {
    margin: 0 auto;
    min-width: 320px;
    min-height: 100vh;
   /* position: relative; */
}

* {
    font-family: 'Josefin Sans';
}
