@import 'header-deconnecte.css';

:root{
    --primary-white-color: #FFFFFF;
    --primary-dark-color: #696969;
    --primary-orange-color: #ec8521;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    min-width: 320px;
}